{% extends 'index.html' %}
{% block content %}
<div style="margin-top: 6vh;">
    <div style="width: 50%; height: 50%; display: inline;">
    <img src="../static/images/IMG_20180418_223628_772.jpg" alt="">
    </div>
    <div style="height: 50%; width: 50%; display: inline;"><img src="../static/images/IMG_20180418_223628_772.jpg" alt=""></div>
    <div style="width: 50%; height: 50%; display: inline;">
    <img src="../static/images/IMG_20180418_223628_772.jpg" alt="">
    </div>
    <div style="height: 50%; width: 50%; display: inline;"><img src="../static/images/IMG_20180418_223628_772.jpg" alt=""></div>
    <div style="height: 50%; width: 50%; display: inline;"><img src="../static/images/IMG_20180418_223628_772.jpg" alt=""></div>
    <div style="width: 50%; height: 50%; display: inline;">
    <img src="../static/images/IMG_20180418_223628_772.jpg" alt="">
    </div>
    </div>
    <div>
        <br><br>
        <br><br>
        <h3>Contact Xusinboy Ataev: 898 277 41 77 | | 893 747 00 51</h3>
        <br>
        <h3>Contact Qodirov Mansur: 893 466 88 88</h3>
        <br>
    </div>
    {% endblock content %}